#PRIMO-BLOCCO{
    background-color: rgb(9, 9, 48);
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 2%;
}
#SECONDO-BLOCCO{
    background-color: rgb(42, 42, 230);
    padding: 1%;
   
}
a:link{
    color:white;
    display:inline-block;
    padding-inline: 1%;

}
#TERZO-BLOCCO{
    color:white;
    background-color: orangered;
   padding:1%;
   margin-left: 3%;
   margin-right: 3%;
   text-align: center;
    
}